#body {
    background-color: var(--pico-mark-background-color) ;
}
#hea {
    background-color: var(--pico-primary-background);
    --pico-color: white;
}

.container {
    display: grid;
    grid-template-rows: 300px 300px 300px 300px 300px 300px 300px 300px 300px  ;
    grid-template-columns: 300px 300px 300px 300px 300px   ;

}

.item1 {
    grid-row: 1 / 3;
    grid-column: 1 / 3;
}
.itemtext1{
    grid-row: 1 / 3;
    grid-column: 3 / 5;
}
.item2 {
    grid-row: 4 / 6;
    grid-column: 1 / 3;
}
.itemtext2{
    grid-row: 4 / 6;
    grid-column: 3 / 5;
}
.item3 {
    grid-row: 7 / 8;
    grid-column: 1 / 3;
}
.itemtext3{
    grid-row: 7 / 9;
    grid-column: 3 / 5;
}

.footer {
    padding-left: 2rem;
    padding-bottom: 10px;
    padding-top: 10px;
}

.button,.button2 {
    --pico-background-color: var(--pico-color);
    --pico-text-selection-color: var(--pico-mark-background-color);    
}
.button:hover{
    --pico-background-color: var(--pico-mark-background-color);
}
.mai {
    font-family: "Science Gothic", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400 ;
    font-style: normal;
    font-variation-settings:
        "slnt" 0,
        "wdth" 100,
        "CTRS" 0;
}
.button2:hover{
    --pico-background-color: var(--pico-range-border-color);
}
