@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?gmgme');
  src:  url('../fonts/icomoon.eot?gmgme#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?gmgme') format('truetype'),
    url('../fonts/icomoon.woff?gmgme') format('woff'),
    url('../fonts/icomoon.svg?gmgme#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-logoroman:before {
  content: "\e905";
  color: #000;
}
.icon-Logo-1-1 .path1:before {
  content: "\e900";
  color: rgb(0, 0, 0);
}
.icon-Logo-1-1 .path2:before {
  content: "\e901";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Nlogo-1:before {
  content: "\e902";
}
.icon-rwd-logo:before {
  content: "\e903";
  color: #065e66;
}
.icon-home:before {
  content: "\e904";
}
.icon-pencil2:before {
  content: "\e906";
}
.icon-eyedropper:before {
  content: "\e90a";
}
.icon-play:before {
  content: "\e912";
}
.icon-spades:before {
  content: "\e917";
}
.icon-clubs:before {
  content: "\e918";
}
.icon-diamonds:before {
  content: "\e919";
}
.icon-book:before {
  content: "\e91f";
}
.icon-location:before {
  content: "\e947";
}
.icon-bubbles2:before {
  content: "\e96d";
}
.icon-user:before {
  content: "\e971";
}
.icon-list2:before {
  content: "\e9bb";
}
.icon-eye:before {
  content: "\e9ce";
}
.icon-eye-plus:before {
  content: "\e9cf";
}
.icon-eye-minus:before {
  content: "\e9d0";
}
.icon-eye-blocked:before {
  content: "\e9d1";
}
.icon-heart:before {
  content: "\e9da";
}
.icon-heart-broken:before {
  content: "\e9db";
}
.icon-smile2:before {
  content: "\e9e2";
}
.icon-tongue2:before {
  content: "\e9e4";
}
.icon-sad2:before {
  content: "\e9e6";
}
.icon-wink2:before {
  content: "\e9e8";
}
.icon-plus:before {
  content: "\ea0a";
}
.icon-minus:before {
  content: "\ea0b";
}
.icon-checkmark:before {
  content: "\ea10";
}
.icon-checkmark2:before {
  content: "\ea11";
}
.icon-play3:before {
  content: "\ea1c";
}
.icon-pause2:before {
  content: "\ea1d";
}
.icon-stop2:before {
  content: "\ea1e";
}
.icon-omega:before {
  content: "\ea66";
}
.icon-youtube:before {
  content: "\ea9d";
}
.icon-youtube2:before {
  content: "\ea9e";
}
.icon-vimeo2:before {
  content: "\eaa1";
}
.icon-steam2:before {
  content: "\eaad";
}
.icon-github:before {
  content: "\eab0";
}
.icon-chrome:before {
  content: "\ead9";
}
.icon-firefox:before {
  content: "\eada";
}
